[submodule "vendor/clojure-mode"]
	path = vendor/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "vendor/rainbow-delimiters"]
	path = vendor/rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters