[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "vendor/scss-mode"]
	path = vendor/scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule "vendor/clojure-mode"]
	path = vendor/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "vendor/mustache-mode"]
	path = vendor/mustache-mode
	url = https://github.com/mustache/emacs.git
[submodule "vendor/solarized"]
	path = vendor/solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "vendor/rainbow-delimiters"]
	path = vendor/rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters
